<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mysql</title>
</head>
<body>
    

    <form action="/post" method="POST">
        <input type="text" name="bill">
        <input type="number" name="value">
    
        <input type="submit" value="Registar">
    </form>

    <table  border="1" style="margin-top: 5rem;">
        <thead>
            <th>Id</th>
            <th>Bill</th>
            <th>Value</th>
        </thead>

        <tbody >
          
            {% for result in results %}
                <tr>
                    <td>{{result.id}}</td>
                    <td>{{result.bill}}</td>
                    <td>{{result.value}}</td>
                </tr>
            {% endfor %}
       
        
        </tbody>

    </table>


</body>
</html>